cloudpickle==2.2.1
et-xmlfile==1.1.0
matplotlib==3.6.0
numpy==1.23.5
openpyxl==3.1.0
xlrd==2.0.1
pandas==1.5.3
scikit-learn==1.2.1
mypy==0.991
flake8==6.0.0
pandarallel==1.6.4
deepchecks==0.12.0
mlflow==2.2.1
nltk==3.8.1
sidetable==0.9.1
summarytools==0.2.3
bs4==0.0.1
html5lib==1.1
emoji==2.2.0
pep8==1.7.1
autopep8==2.0.2
xgboost==1.7.5
imbalanced-learn==0.10.1